In [ ]:
String based assignment problem :

1.write a program to reverse a string

In [13]:
str = input("Enter a string :")
str_rev = str[::-1]
print("the reversed string is :", str_rev)

Enter a string : computer programming

the reversed string is : gnimmargorp retupmoc

2. Check if a string is a palindrome.

In [15]:
str = input("Enter a string :")
str1= str.replace(" ","").lower()
rev_str = str1[::-1]
if(str1== rev_str):
    print("The string is a palindrome")

else:
    print("The string is not a palindrome ")

Enter a string : mA laYalam

The string is a palindrome

3. Convert a string to uppercase.

In [16]:
str = input("Enter a string :")
str_upper = str.upper()
print("The new string is :", str_upper)

Enter a string : This is test

The new string is : THIS IS TEST

4. Convert a string to lowercase.

In [17]:
str = input("Enter a string :")
str_lower = str.lower()
print("The new string is :", str_lower)

Enter a string : THIS is a TEST

The new string is : this is a test

5. Count the number of vowels in a string.

In [31]:
str = input("Enter a string :")
vowel_count=0

for char in str:
     str1 = char.lower()
     if str1 in "aeiou":
         vowel_count +=1

print("Number of vowels:", vowel_count)

Enter a string : HOOOw aaaaaaaaaare    YOuuu?

Number of vowels: 18

6. Count the number of consonants in a string.

In [3]:
str = input("Enter a string")

consonant_count =0
consonants ="bcdfghjklmnpqrstvwxyz"
for char in str:
    str1 = char.lower()
    if str1 in consonants:
        consonant_count +=1

print("Number ofconsonants:",consonant_count)

Enter a string my   name IS Two

Number ofconsonants: 7

7. Remove all whitespaces from a string.

In [6]:
str = input("Enter a string")
str1= str.replace(" ","")
print("The output string is :", str1)

Enter a string       how are    you

The output string is : howareyou

8. Find the length of a string without using the len() function.

In [8]:
str =input("Enter a string")
count = 0

for char in str: 
    count += 1

print("The length of the string is:", count)

Enter a string how are you

The length of the string is: 11

9. Check if a string contains a specific word.

In [11]:
str = input("enter the string")
spec_word = input("Enter the specific word searching for:")
if spec_word in str:
 print(f"The string contains the word '{spec_word}'")
else:
 print(f"The string does not contain the word '{spec_word}'")

enter the string aszdxfcgvbn/l.k,jh
Enter the specific word searching for: fc

The string contains the word 'fc'

10. Replace a word in a string with another word.

In [13]:
str = input("enter the string:")
word1 = input("enter the word to be replaced:")
word2 = input("enter the new word:")
new_string = str.replace(word1,word2)
print("the new string is: ",new_string )

enter the string: python and java is beautiful
enter the word to be replaced: is
enter the new word: are

the new string is:  python and java are beautiful

11. Count the occurrences of a word in a string.

In [29]:
def countOfOccurences(str, tar_word):
    word_count = 0

    words = str.split()

    for word in words:
        if word == tar_word:
            word_count += 1

    return word_count

str = input("enter the string:")
tar_word = input("enter the word to be counted:")

result = countOfOccurences(str, tar_word)
print("the number of occurences", result)

enter the string: ho do you do do and do
enter the word to be counted: do

the number of occurences 4

12. Find the first occurrence of a word in a string.

In [36]:
str = input("enter the string:")
word = input(" enter the word:")

result = str.find(word)
print("the word found at index:", result)

enter the string: how are you doing you look good
 enter the word: you

the word found at index: 8

13. Find the last occurrence of a word in a string.

In [37]:
str = input("enter the string:")
word = input(" enter the word:")

result = str.rfind(word)
print("the word found at index:", result)

enter the string: how are you doing you look good
 enter the word: you

the word found at index: 18

14. Split a string into a list of words.

In [49]:
def split_strings(text):
    words_list = text.split()

    return words_list

text = "How are you dear"
words = split_strings(text)
print("List of words:", words)

List of words: ['How', 'are', 'you', 'dear']

15. Join a list of words into a string.

In [48]:
def join_words(words):
    joined_string = ' '.join(words)

    return joined_string

words = ["How", "are", "you", "doing", "dear"]
str= join_words(words)
print("Joined string:", str)

Joined string: How are you doing dear

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [51]:
def convert(text):
    new_str = text.replace(" ", "_")
    
    return new_str

str = "Python is a computer programming language"
converted_string =convert(text)
print("the new string seperated with underscores is",converted_string)

the new string seperated with underscores is How_are_you_dear

17. Check if a string starts with a specific word or phrase.

In [55]:
str1 = "Python is a computer programming language"
str2 = "Python"
if str1.startswith(str2):
    print("The string starts with ", str2)
else:
    print("The string does not start with " , str2)

The string starts with  Python

18. Check if a string ends with a specific word or phrase.

In [57]:
str1 = "Python is a computer programming language"
str2 = "language"
if str1.endswith(str2):
    print("The string ends with ", str2)
else:
    print("The string does not end with " , str2)

The string ends with  language

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [59]:
str =input("enter the title string:")
new_str = str.title()
print("The capitalized string is", new_str)

enter the title string: this is a heading

The capitalized string is This Is A Heading

20. Find the longest word in a string.

In [66]:
str = input("Enter string: ")
longest = max(str.split(), key= len)
print("Longest word is: ", longest)

Enter string:  history is really interesting

Longest word is:  interesting

21. Find the shortest word in a string.

In [67]:
str = input("Enter string: ")
shortest = min(str.split(), key= len)
print("shortest word is: ", shortest)

Enter string:  history is really interesting

shortest word is:  is

22. Reverse the order of words in a string.

In [70]:
str = input("Enter any string: ")
a = str.split()
a.reverse()
print(' '.join(a))

Enter any string:  python is a language

language a is python

23. Check if a string is alphanumeric.

In [78]:
str = input("Enter any string: ")
a = str.isalnum()
print("the string is alphanumeric",a)

Enter any string:  input45

the string is alphanumeric True

24. Extract all digits from a string.

In [81]:
str = "python23is c progra21"
 
print("Original String : " + str) 
num = ""
for c in str:
    if c.isdigit():
        num = num + c
print("Extracted numbers from the list : " + num)

Original String : python23is c progra21
Extracted numbers from the list : 2321

25. Extract all alphabets from a string.

In [82]:
str = "python23is c progra21"
 
print("Original String : " + str) 
alpha = ""
for c in str:
    if c.isalpha():
        alpha = alpha + c
print("Extracted numbers from the list : " ,alpha)

Original String : python23is c progra21
Extracted numbers from the list :  pythoniscprogra

26. Count the number of uppercase letters in a string.¶

In [90]:
str="GloBalizatiOn"
upper=0
for i in str:
      if(i.isupper()):
            upper=upper+1
print("The number of uppercase characters is:",upper)

The number of uppercase characters is: 3

27. Count the number of lowercase letters in a string.

In [91]:
str="GloBalizatiOn"
lower=0
for i in str:
      if(i.islower()):
            lower=lower+1
print("The number of lowercase characters is:",lower)

The number of lowercase characters is: 10

28. Swap the case of each character in a string.

In [92]:
str = input("enter a string")
swapped_str= str.swapcase()
print("the output is",swapped_str)

enter a string How are YOU

the output is hOW ARE you

29. Remove a specific word from a string.

In [95]:
str = "python is a computer programming language."
word_to_remove = "computer"
result = str.replace(word_to_remove,"")
print("result is :",result)

result is : python is a  programming language.

30. Check if a string is a valid email address.

In [96]:
import re  
  
def validate_email(email):  
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):  
        return True  
    return False  
  
email = "example@domain.com"  
if validate_email(email):  
    print("Valid email address")  
else:  
    print("Invalid email address")

Valid email address

31. Extract the username from an email address string.

In [98]:
def extract_un(email):
    username = email.split('@')[0]  
    return username

email = "abcdef@email.com"
result = extract_un(email)
print(result)

abcdef

32. Extract the domain name from an email address string.

In [100]:
def extract_un(email):
    username = email.split('@')[1]  
    return username

email = "abcdef@email.com"
result = extract_un(email)
print(result)

email.com

33. Replace multiple spaces in a string with a single space.

In [102]:
str = 'python        is a      programing    language'
result = " ".join(str.split())
print(result)

python is a programing language

34. Check if a string is a valid URL.

In [105]:
from urllib.parse import urlparse

def is_valid_url(url):
    parsed_url = urlparse(url)
    return bool(parsed_url.scheme and parsed_url.netloc)

url = "https://www.example.com/path?query=value#fragment"
print("Valid URL!" if is_valid_url(url) else "Invalid URL!")

Valid URL!

35. Extract the protocol (http or https) from a URL string.

In [108]:
def extract_func(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "https://www.facebook.com"
url2 = "http://google.com"
protocol1 = extract_func(url1)
protocol2 = extract_func(url2)
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)

Protocol 1: https
Protocol 2: http

36. Find the frequency of each character in a string.

In [122]:
str = "python"
dict = {}

for i in str:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1

print(dict)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

37. Remove all punctuation from a string.

In [134]:
import string 
str_1 = input ("Enter the string: ")
translated_str = str_1.translate (str.maketrans ('', '', string.punctuation))

print ("The string without punctuation is:", translated_str)

Enter the string:  "goodmorning all, student's"

The string without punctuation is: goodmorning all students

38. Check if a string contains only digits.

In [136]:
str= input("enter a string")
if str.isdigit():
    print("The string contains only digits!")
else:
    print("The string does not contain only digits.")

enter a string 123456

The string contains only digits!

39. Check if a string contains only alphabets.

In [139]:
str= input("enter a string")
if str.isalpha():
    print("The string contains only alphabets!")
else:
    print("The string does not contain only alphabets")

enter a string python

The string contains only alphabets!

40. Convert a string to a list of characters.

In [143]:
str =input("enter a string")
str_lst =list(str)
print (str_lst)

enter a string python

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
41. Check if two strings are anagrams.

In [4]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "night"
string2 = "thing"
result = are_anagrams(string1, string2)
print(f"'{string1}' and '{string2}' are anagrams:", result)

'night' and 'thing' are anagrams: True

In [ ]:
42. Encode a string using a Caesar cipher.

In [6]:
def caesar_cipher_encrypt(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            if char.isupper():
                # Shift uppercase letters
                result += chr(((ord(char) - 65 + shift) % 26) + 65)
            else:
                # Shift lowercase letters
                result += chr(((ord(char) - 97 + shift) % 26) + 97)
        else:
            # If the character is not a letter, leave it unchanged
            result += char
    return result
    
plaintext = "Python"
shift = 3  # You can change the shift value as needed
encoded_text = caesar_cipher_encrypt(plaintext, shift)
print(encoded_text)

Sbwkrq

In [ ]:
43. Decode a Caesar cipher encoded string.

In [8]:
def caesar_cipher_decrypt(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            if char.isupper():
                # Shift uppercase letters in reverse
                result += chr(((ord(char) - 65 - shift) % 26) + 65)
            else:
                # Shift lowercase letters in reverse
                result += chr(((ord(char) - 97 - shift) % 26) + 97)
        else:
            # If the character is not a letter, leave it unchanged
            result += char
    return result

encoded_text = "Sbwkrq"
shift = 3  # Use the same shift value that was used to encode the text
decoded_text = caesar_cipher_decrypt(encoded_text, shift)
print(decoded_text)

Python

44. Find the most frequent word in a string.

In [15]:
def find_most_frequent_word(input_string):
    # Split the string into words (assuming words are separated by spaces)
    words = input_string.split()

    # Create a dictionary to store word frequencies
    word_freq = {}

    # Count the frequency of each word
    for word in words:
        # Remove punctuation and convert to lowercase to ensure accurate counting
        word = word.strip('.,!?').lower()
        if word in word_freq:
            word_freq[word] += 1
        else:
            word_freq[word] = 1

    # Find the word with the highest frequency
    most_frequent_word = max(word_freq, key=word_freq.get)

    # Return the most frequent word and its frequency
    return most_frequent_word, word_freq[most_frequent_word]

input_string = "This is a test. This is only a test, but this is important!"
most_frequent_word, frequency = find_most_frequent_word(input_string)
print(f"The most frequent word is '{most_frequent_word}' with a frequency of {frequency}.")

The most frequent word is 'this' with a frequency of 3.

In [ ]:
45. Find all unique words in a string.

In [19]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'hello', 'there', 'world', 'the', 'hows'}

In [ ]:
46. Count the number of syllables in a string.

In [21]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"


syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [ ]:
47. Check if a string contains any special characters.

In [23]:
import string

def contains_special_characters(input_string):
    # Define a set of special characters
    special_characters = set(string.punctuation)  # Includes all punctuation characters

    # Iterate through the string and check if any character is in the set of special characters
    for char in input_string:
        if char in special_characters:
            return True  # The string contains at least one special character

    return False  # No special characters found in the string

input_string = "C@pitalization"
if contains_special_characters(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [ ]:
48. Remove the nth word from a string.

In [26]:
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the nth word exists in the list of words
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]

        # Join the remaining words back into a string
        result_string = " ".join(words)

        return result_string
    else:
        # If n is out of range, return the original string
        return input_string


input_string = "Python is a computer programing language."
n = 4  # Replace with the desired word position you want to remove
new_string = remove_nth_word(input_string, n)
print(new_string)

Python is a programing language.

In [ ]:
49. Insert a word at the nth position in a string.

In [29]:
def insert_word_at_nth_position(input_string, n, word_to_insert):
    # Split the string into words
    words = input_string.split()

    # Check if the nth position is within the valid range
    if 0 <= n <= len(words):
        # Insert the new word at the specified position
        words.insert(n, word_to_insert)

        # Join the words back into a string
        result_string = " ".join(words)

        return result_string
    else:
        # If n is out of range, return the original string
        return input_string

input_string = "Python is a programing language."
n = 3  # Replace with the desired position to insert the word
word_to_insert = "computer"
new_string = insert_word_at_nth_position(input_string, n, word_to_insert)
print(new_string)

Python is a computer programing language.

In [ ]:
50. Convert a CSV string to a list of lists.

In [31]:
def csv_string_to_list_of_lists(csv_string):
    # Split the CSV string into lines
    lines = csv_string.strip().split('\n')

    # Initialize an empty list to store the resulting list of lists
    result = []

    for line in lines:
        # Split each line into individual values using a comma as the delimiter
        values = line.split(',')

        # Append the list of values to the result
        result.append(values)

    return result

csv_string = "Jxcvbn,Dghjnklm,30\nAgvhbjn,QWER,25\nWERFGh,Ryhbnm,35"
csv_list = csv_string_to_list_of_lists(csv_string)
for row in csv_list:
    print(row)

['Jxcvbn', 'Dghjnklm', '30']
['Agvhbjn', 'QWER', '25']
['WERFGh', 'Ryhbnm', '35']

In [ ]:
List Based Practice Problem :

In [ ]:
1. Create a list with integers from 1 to 10.

In [32]:
integer_list = [i for i in range(1, 11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
2. Find the length of a list without using the `len()` function.

In [34]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

my_list = [10, 20, 30, 40, 50, 60]
length = custom_len(my_list)
print("Length of the list:", length)

Length of the list: 6

In [ ]:
3. Append an element to the end of a list.

In [35]:
my_list = [10, 20, 30]
new_element = 40
my_list.append(new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

In [ ]:
4. Insert an element at a specific index in a list.

In [36]:
my_list = [10, 20, 30, 40, 50]
new_element = 25
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

In [ ]:
5. Remove an element from a list by its value.

In [37]:
my_list = [10, 20, 30, 40, 50]
element_to_remove = 30
my_list.remove(element_to_remove)
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

In [ ]:
6. Remove an element from a list by its index.

In [38]:
my_list = [10, 20, 30, 40, 50]
index_to_remove = 2
removed_element = my_list.pop(index_to_remove)
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

In [ ]:
7. Check if an element exists in a list.

In [40]:
my_list = [10, 20, 30, 40, 50]
element_to_check = 35
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

35 does not exist in the list.

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [41]:
my_list = [10, 20, 30, 40, 50, 30]
element_to_find = 40
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 40 is 3

In [ ]:
9. Count the occurrences of an element in a list.

In [42]:
my_list = [10, 20, 30, 40, 50, 30, 30]
element_to_count = 30
count = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [ ]:
10. Reverse the order of elements in a list.

In [43]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
11. Sort a list in ascending order.

In [44]:
my_list = [50, 10, 30, 40, 20]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [ ]:
12. Sort a list in descending order.

In [45]:
my_list = [50, 10, 30, 40, 20]
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [46]:
even_numbers = [x for x in range(2, 21, 2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [47]:
odd_numbers = [x for x in range(1, 21, 2)]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
15. Find the sum of all elements in a list.

In [48]:
my_list = [10, 20, 30, 40, 50]
total_sum = sum(my_list)
print("Sum of elements:", total_sum)

Sum of elements: 150

In [ ]:
16. Find the maximum value in a list.

In [49]:
my_list = [10, 20, 30, 40, 50]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 50

In [ ]:
17. Find the minimum value in a list.

In [50]:
my_list = [10, 20, 30, 40, 50]
min_value = min(my_list)
print("Minimum value:", min_value)

Minimum value: 10

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [51]:
squares = [x ** 2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers.

In [52]:
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [33, 60, 27, 38, 22, 60, 51, 88, 22, 28]

In [ ]:
20. Remove duplicates from a list.

In [53]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [ ]:
21. Find the common elements between two lists.

In [54]:
def find_common_elements(list1, list2):
    return [item for item in list1 if item in list2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = find_common_elements(list1, list2)
print(common_elements)

[3, 4, 5]

In [ ]:
22. Find the difference between two lists.

In [55]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [ ]:
23. Merge two lists.

In [56]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]
merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [ ]:
24. Multiply all elements in a list by 2.

In [57]:
my_list = [10, 20, 30, 40, 50]
multiplied_list = [x * 2 for x in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [ ]:
25. Filter out all even numbers from a list.

In [58]:
def filter_even_numbers(input_list):
    return [x for x in input_list if x % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = filter_even_numbers(numbers)
print(filtered_numbers)

[1, 3, 5, 7, 9]

In [ ]:
26. Convert a list of strings to a list of integers.

In [59]:
string_list = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in string_list]
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [ ]:
27. Convert a list of integers to a list of strings.

In [60]:
integer_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in integer_list]
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [ ]:
28. Flatten a nested list.

In [62]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
29. Create a list of the first 10 Fibonacci numbers.

In [65]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

fibonacci_numbers = generate_fibonacci(2)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [ ]:
30. Check if a list is sorted.

In [64]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [10, 20, 30, 40, 50]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [ ]:
31. Rotate a list to the left by n positions.

In [67]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]
n = 5
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [6, 1, 2, 3, 4, 5]

In [ ]:
32. Rotate a list to the right by n positions.

In [69]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]
n = 5
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [2, 3, 4, 5, 6, 1]

33. Create a list of prime numbers up to 50.

In [73]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

primes_up_to_50 = [num for num in range(2, 51) if is_prime(num)]
print(primes_up_to_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
34. Split a list into chunks of size n.

In [75]:
def split_list_into_chunks(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
chunk_size = 3
chunks = split_list_into_chunks(my_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11]]

In [ ]:
35. Find the second largest number in a list.

In [77]:
my_list = [15,10,23,12,11,111]
sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 23

In [ ]:
36. Replace every element in a list with its square.

In [78]:
my_list = [2, 4, 6, 8, 10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [79]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [ ]:
38. Shuffle the elements of a list randomly.

In [80]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [3, 6, 7, 10, 8, 5, 1, 4, 2, 9]

In [ ]:
39. Create a list of the first 10 factorial numbers.

In [81]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
40. Check if two lists have at least one element in common.

In [82]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [ ]:
41. Remove all elements from a list.

In [83]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

In [ ]:
42. Replace negative numbers in a list with 0.

In [85]:
my_list = [10, -15, 20, -105, 30, -225]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [ ]:
43. Convert a string into a list of words.

In [87]:
my_string = "Python is a computer programming language."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Python', 'is', 'a', 'computer', 'programming', 'language.']

In [ ]:
44. Convert a list of words into a string.

In [90]:
word_list = ["Computer", "programing", "language"]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Computer programing language

In [ ]:
45. Create a list of the first n powers of 2.

In [93]:
n = 6
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 6 powers of 2: [1, 2, 4, 8, 16, 32]

In [ ]:
46. Find the longest string in a list of strings.

In [94]:
string_list = ["peacock", "elephant", "dove", "tiger", "hippo"]

longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

print("Longest string:", longest_string)

Longest string: elephant

In [ ]:
47. Find the shortest string in a list of strings.

In [95]:
string_list = ["peacock", "elephant", "dove", "tiger", "hippo"]

shortest_string = string_list[0]  
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

print("Shortest string:", shortest_string)

Shortest string: dove

In [ ]:
48. Create a list of the first n triangular numbers.

In [96]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [ ]:
49. Check if a list contains another list as a subsequence.¶

In [97]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [ ]:
50. Swap two elements in a list by their indices.

In [100]:
my_list = [1, 2, 3, 4, 5]

index1 = 2
index2 = 4

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 2, 5, 4, 3]

In [ ]:
Tuple based practice problem :

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [104]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [102]:
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [ ]:
3. Find the length of a tuple without using the len() function.

In [105]:
my_tuple = (10, 20, 30, 40, 50)
count = 0

for _ in my_tuple:
    count += 1

print("The length of the tuple is:", count)

The length of the tuple is: 5

In [ ]:
4. Count the occurrences of an element in a tuple.

In [107]:
my_tuple = (1,2,2,5,6,3,4,5,8)
element_to_count = 2
count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 2 times in the tuple.

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [109]:
my_tuple = (10, 120, 20, 20, 40, 50)
element_to_find = 20
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 2.

In [ ]:
6. Check if an element exists in a tuple.

In [111]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 40

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

40 exists in the tuple.

In [ ]:
7. Convert a tuple to a list.

In [112]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [ ]:
8. Convert a list to a tuple.

In [113]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [ ]:
9. Unpack the elements of a tuple into variables.

In [114]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [115]:
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [116]:
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [ ]:
12. Concatenate two tuples.

In [117]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
13. Repeat a tuple three times.

In [118]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
14. Check if a tuple is empty.

In [120]:
empty_tuple = ()

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

The empty_tuple is empty.

In [ ]:
15. Create a nested tuple.

In [121]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [ ]:
16. Access the first element of a nested tuple.

In [122]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [ ]:
17. Create a tuple with a single element.

In [125]:
single_element_tuple = (20)
print("Single element tuple:", single_element_tuple)

Single element tuple: 20

In [ ]:
18. Compare two tuples.

In [126]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2) 
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)   
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [ ]:
19. Delete a tuple.

In [127]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [ ]:
20. Slice a tuple.

In [128]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [ ]:
21. Find the maximum value in a tuple.

In [129]:
my_tuple = (10, 20, 5, 45, 30)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 45

In [ ]:
22. Find the minimum value in a tuple.

In [130]:
my_tuple = (10, 20, 5, 45, 30)
min_value = min(my_tuple)
print("Minimum value:", min_value)

Minimum value: 5

In [ ]:
23. Convert a string to a tuple of characters.

In [131]:
my_string = "computer program"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('c', 'o', 'm', 'p', 'u', 't', 'e', 'r', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm')

In [ ]:
24. Convert a tuple of characters to a string.

In [132]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [ ]:
25. Create a tuple from multiple data types.

In [133]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [ ]:
26. Check if two tuples are identical.

In [134]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical1 = tuple1 == tuple2
print("tuple1 and tuple2 are identical:", are_identical1)

tuple1 and tuple2 are identical: True

In [ ]:
27. Sort the elements of a tuple.

In [135]:
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [136]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [137]:
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [ ]:
30. Merge two tuples.

In [138]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
31. Flatten a nested tuple.

In [139]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [140]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
33. Check if a tuple is a palindrome.

In [141]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [142]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple.

In [143]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [ ]:
36. Multiply all elements in a tuple by 2.

In [144]:
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [ ]:
37. Create a tuple of random numbers.

In [145]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100
print("Random tuple:", random_tuple)

Random tuple: (63, 21, 7, 3, 9, 44, 2, 80, 66, 11)

In [ ]:
38. Check if a tuple is sorted.

In [146]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [ ]:
39. Rotate a tuple to the left by n positions.

In [147]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
40. Rotate a tuple to the right by n positions.

In [148]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [149]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input.

In [150]:
input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  2,5,4,8,6

User input tuple: ('2', '5', '4', '8', '6')

In [ ]:
43. Swap two elements in a tuple.

In [151]:
my_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [ ]:
44. Reverse the elements of a tuple.

In [152]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [ ]:
45. Create a tuple of the first n powers of 2.

In [153]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [ ]:
46. Find the longest string in a tuple of strings.

In [155]:
string_tuple = ("apple", "banana", "grape", "kiwi", "blueberry")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: blueberry

In [ ]:
47. Find the shortest string in a tuple of strings.

In [156]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [ ]:
48. Create a tuple of the first n triangular numbers.

In [157]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [158]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [ ]:
50. Create a tuple of alternating 1s and 0s of length n.

In [159]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
Set based problems:

In [ ]:
1. Create a set with integers from 1 to 5

In [161]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
2. Add an element to a set

In [162]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
element_to_add = 6
my_set.add(element_to_add)
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [ ]:
3. Remove an element from a set.

In [163]:
my_set = {1, 2, 3, 4, 5}
print("Original Set:", my_set)
element_to_remove = 3
my_set.remove(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [ ]:
4. Check if an element exists in a set.

In [164]:
my_set = {1, 3, 5, 7, 9}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  7

7 exists in the set.

In [ ]:
5. Find the length of a set without using the len() function

In [165]:
my_set = {1, 2, 3, 4, 5}
count = 0

for _ in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [ ]:
6. Clear all elements from a set.

In [166]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [ ]:
7. Create a set of even numbers from 1 to 10

In [167]:
even_numbers_set = set()

for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)

print(even_numbers_set)

{2, 4, 6, 8, 10}

In [ ]:
8. Create a set of odd numbers from 1 to 10

In [168]:
odd_numbers_set = set()

for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)
        
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
9. Find the union of two sets

In [169]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
10. Find the intersection of two sets

In [170]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [ ]:
11. Find the difference between two sets.

In [171]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [ ]:
12. Check if a set is a subset of another set.

In [173]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)
print("set1 is a subset of set2:", is_subset)

set1 is a subset of set2: True

In [ ]:
13. Check if a set is a superset of another set.

In [174]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [ ]:
14. Create a set from a list

In [175]:
my_list = [2, 4, 1, 4, 3, 2, 5]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [ ]:
15. Convert a set to a list.

In [176]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

my_list = list(my_set)

print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [ ]:
16. Remove a random element from a set.

In [177]:
import random  # Import the random module

my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

In [ ]:
17. Pop an element from a set.

In [178]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [ ]:
18. Check if two sets have no elements in common.

In [179]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [ ]:
19. Find the symmetric difference between two sets.

In [180]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
20. Update a set with elements from another set.

In [181]:
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [ ]:
21. Create a set of the first 5 prime numbers.

In [182]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()

num = 2
while len(prime_set) < 5:
    if is_prime(num):
    
        prime_set.add(num)

    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [ ]:
22. Check if two sets are identical.

In [183]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [ ]:
23. Create a frozen set

In [184]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [ ]:
24. Check if a set is disjoint with another set.

In [186]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("set is disjoint", disjoint_status)

set is disjoint True

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [187]:
squares_set = set()

for num in range(1, 6):
    square = num ** 2

    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [ ]:
26. Filter out all even numbers from a set.

In [188]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()

for num in original_set:
   
    if num % 2 == 0:
        even_numbers_set.add(num)

print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [ ]:
27. Multiply all elements in a set by 2.

In [189]:
original_set = {1, 2, 3, 4, 5}

multiplied_set = set()

for num in original_set:
    multiplied_num = num * 2

    multiplied_set.add(multiplied_num)

print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [ ]:
28. Create a set of random numbers.

In [190]:
import random

num_random_numbers = 5
random_number_set = set()

for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {33, 81, 20, 92, 31}

In [ ]:
29. Check if a set is empty.

In [191]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [ ]:
30. Create a nested set (hint: use frozenset).

In [192]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [ ]:
31. Remove an element from a set using the discard method.

In [193]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [ ]:
32. Compare two sets.

In [195]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [ ]:
33. Create a set from a string.

In [197]:
input_string = "python"
char_set = set(input_string)
print(char_set)

{'o', 'h', 'p', 'n', 'y', 't'}

In [ ]:
34. Convert a set of strings to a set of integers.

In [198]:
string_set = {"123", "456", "789"}
integer_set = set()

for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

In [ ]:
35. Convert a set of integers to a set of strings.

In [199]:
integers_set = {1, 2, 3, 4, 5}
strings_set = set()

for num in integers_set:
    num_str = str(num)

    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '2', '5', '4', '1'}

In [ ]:
36. Create a set from a tuple.

In [200]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [ ]:
37. Convert a set to a tuple.

In [201]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [ ]:
38. Find the maximum value in a set.

In [202]:
my_set = {15, 7, 22, 13, 8}
max_value = None

for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

print("Maximum value:", max_value)

Maximum value: 22

In [ ]:
39. Find the minimum value in a set.

In [204]:
number_set = {15, 8, 23, 14, 42, 11}
min_value = None

for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 8

In [ ]:
40. Create a set from user input.

In [207]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  python,program
>  done

Final set: {'python,program'}

In [ ]:
41. Check if the intersection of two sets is empty.

In [208]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [ ]:
42. Create a set of the first 5 Fibonacci numbers.

In [209]:
fibonacci_set = set()
a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [ ]:
43. Remove duplicates from a list using sets.

In [210]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [211]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [ ]:
45. Create a set of the first n powers of 2

In [212]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [ ]:
46. Find the common elements between a set and a list.

In [213]:
my_set = {1,2,3,4,5,6}
my_list = [4,5,6,7,8,9]
list_to_set = set(my_list)
common_elements = []

for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [4, 5, 6]

In [ ]:
47. Create a set of the first n triangular numbers.

In [216]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  8

The set of the first 8 triangular numbers is: {1, 3, 36, 6, 10, 15, 21, 28}

In [ ]:
48. Check if a set contains another set as a subset.

In [217]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
49. Create a set of alternating 1s and 0s of length n.

In [218]:
def create_alternating_set(n):
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

In [ ]:
50. Merge multiple sets into one.

In [219]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}